.advantages {
  background-image: linear-gradient(355deg, @basic-bgc-photo 80%, @basic-white 80%, @basic-white 100%);

  @media (min-width: @tablet-width) {
    background-image: linear-gradient(355deg, @basic-bgc-photo 77%, @basic-white 77%, @basic-white 100%);
    margin-bottom: 132px;
  }

  @media (min-width: @desktop-width) {
    background-image: linear-gradient(355deg, @basic-bgc-photo 75%, @basic-white 75%, @basic-white 100%);
  }
}

.advantages__wrapper {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 620px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.advantages__caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  margin-top: 40px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 54.5px;
    padding-bottom: 36px;
    margin-top: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin-top: 64px;
  }
}

.advantages__caption-one {
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.advantages__caption-one br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.advantages__caption-two {
  margin-bottom: 50px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.advantages__content {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
    position: initial;
    padding-left: 25px;
  }
}

.advantages__list {
  list-style: none;
  padding: 0;
  padding-top: 63px;
  margin: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
    padding-top: 70px;
    width: 310px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-top: 19px;
    margin-bottom: 0;
    width: auto;
  }
}

.advantages__item {
  @media (min-width: @tablet-width) {
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &:not(:nth-child(3n)) {
      margin-right: 77px;
    }
  }
}

.advantages__item--current {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: initial;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.advantages__img {
  order: 3;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
  }

  @media (min-width: @desktop-width) {
    position: initial;
    order: initial;
  }
}

.advantages__picture {
  display: none;

  &--current {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  color: @basic-black;
  margin: 0;
  margin-bottom: 12px;

  &--current {
    order: 1;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 14px;
  }

  @media (min-width: @desktop-width) {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 22px;
    width: 235px;
    margin-top: -81px;
    padding-top: 57px;
    background-color: @basic-bgc-photo;
    position: relative;

    &--current {
      order: initial;
    }

    &::before {
      position: absolute;
      content: "";
      top: -5px;
      left: -25px;
      width: 300px;
      height: 17px;
      background-image: linear-gradient(90deg, fade(@basic-black, 0%) 0%, @basic-black 49.8%, fade(@basic-black, 0%) 93.23%);
      background-repeat: no-repeat;
      opacity: 30%;
      filter: blur(4px);
    }
  }
}

.advantages__description {
  font-size: 14px;
  margin: 0;
  margin-bottom: 32px;

  &--current {
    order: 2;
    margin-bottom: 41px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
    width: 245px;
    margin-bottom: 59px;

    &--current {
      order: initial;
    }
  }
}

.advantages__description br {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}
