.advantages {
  background-color: @basic-bgc-photo;
}

.advantages__wrapper {
  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 620px;
  }

  @media (min-width: @desktop-width) {

    width: 940px;
  }
}

.advantages__caption {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 54.5px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.advantages__content {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.advantages__list {
  list-style: none;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.advantages__picture {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  color: @basic-black;

  @media (min-width: @desktop-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.advantages__description {
  font-size: 14px;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.advantages__image {
  display: block;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    order: -1;
    width: 268px;
    height: 547px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.advantages__research {
  display: none;
  background-image: url("../img/background/mobile/24hours.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 238px 276px;

  @media (min-width: @tablet-width) {
    display: block;
    min-height: 330px;
    padding-left: 238px;
  }

  @media (min-width: @desktop-width) {
    background-size: 298px 345px;
    min-height: 430px;
    padding-left: 298px;
  }
}

.advantages__research-title {
  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: @basic-black;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    line-height: 30px;
  }
}

.advantages__research-description {
  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 24px;
    width: 310px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
    width: 534px;
  }
}

.advantages__research-link {
  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 24px;
    color: @basic-red;
    text-decoration: underline;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
