.button {
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @basic-white;
  background-color: @basic-btn;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background-color: @basic-btn-hover-active;
  }

  &:active {
    color: fade(@basic-white, 30%);
  }

  &:disabled {
    background-color: @basic-border;
  }
}
