.contacts__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 620px;
    display: block;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 31px;
}

.contacts__item:nth-child(3) {
  margin-bottom: 41px;
}

.contacts__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  margin-top: 47px;
  margin-bottom: 45px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 55px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.contacts__list {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.contacts__phone {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts__phone-link {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: @basic-red;
}

.contacts__mail {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts__mail-link {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: @basic-red;
}

.contacts__address span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: @basic-color-text;
}

.contacts__address {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: @basic-red;
}

.contacts__map-image {
  width: 100%;
  height: auto;
}
