.contacts {
  margin-bottom: 2px;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 620px;
    display: block;
    padding-top: 43px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    padding-top: 59px;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    margin-bottom: 44px;

    &--phone {
      margin-left: 47px;
      margin-right: 97px;
    }

    &--address {
      margin: 0 auto;
    }
  }

  @media (min-width: @desktop-width) {
    &--phone {
      margin-left: 47px;
      margin-right: 111px;
      margin-bottom: 0;
    }

    &--mail {
      order: 3;
    }

    &--address {
      margin: 0;
      margin-right: 95px;
    }
  }
}

.contacts__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 41px;
  }
}

.contacts__list {
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 23px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 6px;
  }
}

.contacts__link {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: @basic-red;

  &:hover,
  &:focus {
    color: @basic-color-text;
  }

  &:active {
    color: fade(@basic-color-text, 30%);
  }

  @media (min-width: @tablet-width) {
    padding-top: 2px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 20px;
  }
}

.contacts__map-image {
  width: 100%;
  height: 200px;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    height: 374px;
  }

  @media (min-width: @desktop-width) {
    height: 502px;
  }
}
