.contacts__wrapper {
  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 620px;
  }

  .contacts__item {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    width: 940px;
  }
}

.contacts__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}

.contacts__phone {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts__phone-link {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: @basic-red;
}

.contacts__mail {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts__mail-link {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: @basic-red;
}

.contacts__address span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: @basic-color-text;
}

.contacts__address {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: @basic-red;
}

.contacts__map-image {
  @media (min-width: @tablet-width) {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    height: auto;
  }
}
