.filters {
  background-color: @basic-bgc-photo;
}

.filters__form-description {
  font-size: 14px;
  line-height: 30px;
  background-color: @basic-white;
}

.filters__button-send {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @basic-red;
  font-family: inherit;
}

.filters__button-cancel {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @basic-color-text;
  font-family: inherit;
}
