.filters {
  background-color: @basic-bgc-photo;
}

.filters__form-description {
  font-size: 14px;
  line-height: 30px;
  background-color: @basic-white;
}

.filters__button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  font-family: inherit;
  color: @basic-color-text;

  &--send {
    color: @basic-red;
  }
}
