.form__user-form {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.form__description {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  margin-bottom: 55px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    padding-left: 85px;
    padding-right: 85px;
    order: 0;
  }
}

.form__description span {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.form__name {
  border: none;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    order: 1;
  }
}

.form__list-name {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__item-name {
  margin-bottom: 29px;

  &:last-child {
    margin-bottom: 44px;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
  }
}

.form__item-name label {
  font-size: 14px;
  line-height: 30px;
  color: @basic-red;
  text-transform: uppercase;
  padding-left: 23px;
  display: block;

  @media (min-width: @tablet-width) {
    margin-right: 20px;
    padding-left: 0;
  }
}

.form__input,
.form__input::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: @basic-color-text;
  width: 100%;
  font-weight: inherit;
  font-family: inherit;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 22px;
  padding-right: 22px;
  border: 2px solid @basic-border;
  display: block;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding-left: 20px;
  }
}

.form__input::placeholder {
  border: none;
  padding: 0;
}

.form__achievements {
  position: relative;
  background-color: @basic-bgc-photo;
  border: none;
  padding: 0;
  padding-top: 42px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    margin: 0 20px;
    margin-bottom: 65px;
    padding: 0;
    position: initial;
    order: 5;
    border: 2px solid @basic-border;
    background-color: @basic-white;
  }
}

.form__achievements-title {
  position: absolute;
  font-size: 14px;
  line-height: 18px;
  color: @basic-red;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 0 35px;

  @media (min-width: @tablet-width) {
    position: initial;
    padding-left: 31px;
    padding-right: 31px;
  }
}

.form__list-achievements {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 65px;

  @media (min-width: @tablet-width) {
    margin-top: 35px;
    margin-bottom: 50px;
    padding-left: 60px;
  }
}

.form__item-achievements {
  margin-bottom: 47px;

  &:last-child {
    margin-bottom: 44px;
  }

  @media (min-width: @tablet-width) {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form__item-achievements input {
  margin: 0;
  margin-right: 22px;
}

.form__item-achievements label {
  font-size: 18px;
  line-height: 30px;
}

.form__contacts {
  padding: 0 20px;
  border: none;

  @media (min-width: @tablet-width) {
    margin: 0 20px;
    margin-bottom: 65px;
    padding: 0 60px;
    border: 2px solid @basic-border;
    border-radius: 1px;
    order: 3;
    text-align: center;
  }
}

.form__contacts-title {
  display: none;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: block;
    padding-left: 31px;
    padding-right: 31px;
    color: @basic-red;
  }
}

.form__list-contacts {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 42px;
  padding-bottom: 44px;
}

.form__item-contacts {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    align-items: center;
  }
}

.form__item-contacts:not(:last-child) {
  margin-bottom: 29px;
}

.form__item-contacts label {
  font-size: 14px;
  line-height: 30px;
  color: @basic-red;
  padding-left: 24px;
  text-transform: uppercase;
  display: block;

  @media (min-width: @tablet-width) {
    order: 1;
    align-self: flex-start;
  }
}

.form__item-contacts input {
  @media (min-width: @tablet-width) {
    min-width: 496px;
    order: 0;
    margin-bottom: 10px;
  }
}

.form__choice-app {
  position: relative;
  background-color: @basic-bgc-photo;
  border: none;
  padding-top: 42px;
  padding-bottom: 42px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    margin: 0 20px;
    padding: 0;
    position: initial;
    order: 2;
    border: 2px solid @basic-border;
    background-color: @basic-white;
    margin-bottom: 65px;
  }
}

.form__choice-app-title {
  position: absolute;
  font-size: 14px;
  line-height: 18px;
  color: @basic-red;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    position: initial;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.form__list-choice-app {
  list-style: none;
  margin: 0;
  margin-top: 65px;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-top: 54px;
    margin-bottom: 54px;
    padding-left: 60px;
  }
}

.form__item-choice-app:not(:last-child) {
  margin-bottom: 38px;
}

.form__input-choice-app {
  margin: 0;
  margin-right: 22px;
}

.form__item-choice-app label {
  font-size: 18px;
  line-height: 30px;
}

.form__feedback {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  border: none;
  padding-top: 42px;
  padding-bottom: 52px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    margin: 0 20px;
    margin-bottom: 70px;
    padding: 0 60px;
    padding-bottom: 53px;
    position: initial;
    border: 2px solid @basic-border;
    order: 5;
  }
}

.form__feedback-title {
  align-self: center;
  position: absolute;
  font-size: 14px;
  line-height: 18px;
  color: @basic-red;
  text-transform: uppercase;
  border: none;

  @media (min-width: @tablet-width) {
    position: initial;
    padding-left: 38px;
    padding-right: 38px;
  }
}

.form__input--textarea {
  border: 2px solid @basic-border;
  width: 100%;
  border-radius: 1px;
  min-height: 197px;
  padding: 0;
  padding-left: 12px;
  margin-top: 32px;
  resize: none;

  @media (min-width: @tablet-width) {
    min-width: 496px;
    align-self: center;
    margin-top: 42px;
  }
}

.form__footer {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    order: 6;
  }
}

.form__button-send {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 46px;

  @media (min-width: @tablet-width) {
    width: 296px;
    margin-bottom: 50px;
  }
}

.form__note {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

.form__note span {
  color: @basic-red;
}
