.form__description {
  font-size: 14px;
  line-height: 30px;
}

.form__list-name {
  list-style: none;
}

.form__item-name label {
  font-size: 14px;
  line-height: 30px;
  color: @basic-red;
  text-transform: uppercase;
}

.form__input-surname,
.form__input-name,
.form__input-patronymic,
.form__input-surname::placeholder,
.form__input-name::placeholder,
.form__input-patronymic::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: @basic-color-text;
  font-weight: 400;
  font-family: inherit;
}

.form__achievements-title {
  font-size: 14px;
  line-height: 18px;
  color: @basic-red;
  text-transform: uppercase;
}

.form__list-achievements {
  list-style: none;
  background-color: @basic-bgc-photo;
}

.form__item-achievements label {
  font-size: 18px;
  line-height: 30px;
}

.form__list-contacts {
  list-style: none;
}

.form__item-contacts label {
  font-size: 14px;
  line-height: 30px;
  color: @basic-red;
  text-transform: uppercase;
}

.form__input-phone,
.form__input-email,
.form__input-phone::placeholder,
.form__input-email::placeholder {
  font-size: 18px;
  line-height: 30px;
  font-family: inherit;
  color: @basic-color-text;
}

.form__choice-app-title {
  font-size: 14px;
  line-height: 18px;
  color: @basic-red;
  text-transform: uppercase;
}

.form__list-choice-app {
  list-style: none;
  background-color: @basic-bgc-photo;
}

.form__item-choice-app label {
  font-size: 18px;
  line-height: 30px;
}

.form__feedback-title {
  font-size: 14px;
  line-height: 18px;
  color: @basic-red;
  text-transform: uppercase;
}

.form__feedback-text,
.form__feedback-text::placeholder {
  font-size: 18px;
  line-height: 30px;
  font-family: inherit;
  color: @basic-color-text;
}

.form__note {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}
