.gallery__description {
  font-size: 14px;
  line-height: 30px;
}

.gallery__list {
  list-style: none;
}

.gallery__item {
  background-color: @basic-bgc-photo;
}

.gallery__author-name {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}

.gallery__time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.gallery__author-text {
  font-size: 14px;
  line-height: 24px;
}

.gallery__counter-likes {
  font-size: 12px;
  line-height: 24px;
  color: @basic-red;
  text-transform: uppercase;
}
