.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.main-nav__link {
  line-height: 32px;
  font-weight: 700;
  color: @basic-white;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
  }
}
