.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 51px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 620px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.page-footer__logo {
  margin-bottom: 41px;
}

.page-footer__copyright {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  display: flex;
  align-items: center;
}

.page-footer__link {
  margin-left: 15px;
}
