.page-header {
  background-color: @basic-color-text;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;


  @media (min-width: @desktop-width) {
    padding: 0 130px;
  }
}
