.page-header {
  position: relative;
  background-color: fade(@basic-black, 30%);
  z-index: 100;
  min-height: 66px;
  width: 100%;

  &--opened {
    background-color: @basic-color-text;
  }

  @media (min-width: @tablet-width) {
    min-height: 110px;
  }
}

.page-header__container {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 940px;
    min-height: inherit;
  }
}

.page-header__logo-wrapper {
  padding: 19px 20px;
  border-bottom: 1px solid @basic-black;

  @media (min-width: @tablet-width) {
    padding-top: 34px;
    padding-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    border: none;
  }
}

.page-header__logo-svg {
  cursor: pointer;

  &:hover path {
    fill: @basic-red;
  }

  &:active path {
    fill: fade(@basic-white, 30%);
  }
}

.page-header__logo-svg--mobile {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__logo-svg--tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__logo-svg--desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}
