.page-footer__wrapper {
  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 620px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.page-footer__copyright {
  font-size: 14px;
  line-height: 18px;
}
