.page-header {
  background-color: @basic-color-text;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}
