.page-footer {
  @media (min-width: @desktop-width) {
    padding-left: 130px;
    padding-right: 130px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 620px;
    flex-direction: row;
    justify-content: space-between;
    align-items: initial;
    padding-top: 38px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    padding-top: 72px;
    padding-bottom: 75px;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 11px;
  }
}

.page-footer__logo-svg--mob {
  fill: @basic-color-text;

  &:hover {
    fill: @basic-red;
  }

  &:active {
    fill: @basic-color-text;
    opacity: 30%;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-footer__logo-svg--desktop {
  fill: @basic-color-text;
  display: none;

  &:hover {
    fill: @basic-red;
  }

  &:active {
    fill: @basic-color-text;
    opacity: 30%;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.page-footer__copyright {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    align-self: center;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.page-footer__link {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.page-footer__copyright-logo {
  fill: @basic-red;

  &:hover {
    fill: @basic-color-text;
  }

  &:active {
    opacity: 30%;
  }
}
