.promo {
  background-image: url("../img/background/mobile/bgc-promo-mobile.jpg");
  background-position: center 9px;
  background-repeat: no-repeat;
  background-color: @basic-bgc-promo;
  background-size: 100% auto;
  min-height: 729px;
  margin-top: -75px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/mobile/bgc-promo-mobile@2x.jpg");
    background-size: 640px auto;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/background/tablet/bgc-promo-tablet.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 725px;
    margin-top: -110px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/tablet/bgc-promo-tablet@2x.jpg");
      background-size: 1320px auto;
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/background/desktop/bgc-promo-desktop.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 853px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/desktop/bgc-promo-desktop@2x.jpg");
      background-size: 2400px auto;
    }
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 560px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    width: 620px;
    min-height: inherit;
    padding: 0;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.promo__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: -6px;
  padding-top: 28px;
  padding-bottom: 31px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  position: relative;
  background-color: @basic-bgc-promo;
  width: 100%;

  @media (min-width: @tablet-width) {
    justify-content: flex-start;
    padding: 0;
    position: initial;
    z-index: 3;
    margin-top: 0;
    background-color: initial;
    width: initial;
  }

  @media (min-width: @tablet-width) {
    min-height: 280px;
  }
}

.promo__img-hand {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: 182px;
    left: -20px;
    z-index: 1;
    max-width: initial;
  }

  @media (min-width: @desktop-width) {
    top: inherit;
    bottom: 0;
    left: 24px;
  }
}

.promo__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin-bottom: 26px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 45px;
    margin-left: 8px;
  }
}

.promo__item:not(:last-child) {
  margin-right: 35px;
}

.promo__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: @basic-white;
  margin: 0;
  margin-top: 99px;
  margin-bottom: 29px;
  width: 225px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 48px;
    margin-left: 55px;
    margin-top: 122px;
    margin-bottom: 14px;
    width: 190px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    width: 236px;
    margin-left: 40px;
    margin-top: 85px;
    margin-bottom: 34px;
  }
}

.promo__download {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @basic-white;
  width: 280px;
  border: 3px solid @basic-white;
  border-radius: 40px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 32px;
  box-sizing: border-box;

  &:hover,
  &:focus {
    background-color: @basic-white;
    color: @basic-red;
  }

  &:active {
    color: fade(@basic-red, 30%);
  }

  @media (min-width: @tablet-width) {
    width: 300px;
    margin-top: 16px;
    margin-bottom: 47px;
    padding-top: 13px;
    padding-bottom: 17px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (min-width: @desktop-width) {
    font-size: 21px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-top: 0;
    margin-bottom: 67px;
    margin-left: 9px;
  }
}

.promo__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: @basic-white;
  margin: 0;
  text-align: center;
  width: 280px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    width: 300px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 7px;
  }
}
