.promo {
  background-image: url("../img/background/mobile/bgc-promo-mobile.jpg");
  background-color: @basic-bgc-promo;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.promo__list {
  list-style: none;
}

.promo__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: @basic-white;
}

.promo__download {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @basic-white;
}

.promo__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: @basic-white;
}
