.reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  color: @basic-black;
}

.reviews__author-text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}
