.tariffs {
  background-color: @basic-bgc-photo;
}

.tariffs__wrapper {
  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    width: 940px;
  }
}

.tariffs__list {
  border-collapse: collapse;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.tariffs__list td {
  background-color: @basic-white;
  border: 2px solid @basic-border;
  border-radius: 1px;
}

.tariffs__title:not(:first-child) {
  background-color: @basic-color-text;
}

.tariffs__title {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: @basic-white;
  text-transform: uppercase;
  border: 2px solid @basic-bgc-photo;
  border-radius: 1px;
}

.tariffs__title span {
  font-size: 18px;
  font-weight: 300;
}

.tariffs__included-title {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.tariffs__toggles {
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.tariffs__feature-yes {
  background-image: url("../img/icons/table-yes.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tariffs__feature-no {
  background-image: url("../img/icons/table-no.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tariffs__feature-name {
  display: none;
}

@media (max-width: @mobile-width-only) {
  .tariffs__list {
    width: 100%;
  }

  .tariffs__title {
    display: none;
  }

  .tariffs__title-hit {
    display: block;
    width: 100%;
  }

  .tariffs__included-title {
    display: none;
  }

  .tariffs__feature {
    display: none;
  }

  .tariffs__feature-name {
    display: block;
  }

  .tariffs__feature-yes {
    background-position: center right;
  }

  .tariffs__feature-no {
    background-position: center right;
  }
}
