.tariffs__titles-list {
  background-color: @basic-color-text;
}

.tariffs__title {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: @basic-white;
}

.tariffs__title span {
  font-size: 18px;
  font-weight: 300;
}

.tariffs__included {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}
